<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093359056962-od3i0ochq9mqor3imdd19v8pqcbt8gba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093359056962-od3i0ochq9mqor3imdd19v8pqcbt8gba</string>
	<key>API_KEY</key>
	<string>AIzaSyDvTecIYcY11_o8M5EMl5miwXJKXjZks9k</string>
	<key>GCM_SENDER_ID</key>
	<string>1093359056962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teamProject</string>
	<key>PROJECT_ID</key>
	<string>teamproject-59a31</string>
	<key>STORAGE_BUCKET</key>
	<string>teamproject-59a31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093359056962:ios:43ba7d33f094e3ba9155db</string>
</dict>
</plist>